<header class="p-3 mb-3 border-bottom linear-nav-grad rounded-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{url_for('index.index')}}" class="logo-title d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                Вычислительные системы
            </a>
            &ensp;&ensp;&ensp;
            <ul class="nav nav-bar-title align-items-end col-12 col-lg-auto me-lg-auto mb-2  justify-content-center mb-md-0 logo-title">
                {% include "meta/dropdown.html" %}
            </ul>
        </div>
    </div>
</header>